COMPOSE_PROJECT_NAME=dev
COMPOSE_FILE=docker-compose.yml:database/adminer/adminer.yml:database/postgres/14.yml:database/postgres/15.yml:database/postgres/16.yml:database/postgres/17.yml:database/postgres/18.yml
