services:
  proxy:
    image: ghcr.io/le-phare/docker-stack/proxy:main
    restart: unless-stopped
    networks:
      - public
    ports:
      # HTTP
      - target: 80
        published: ${HTTP_PORT:-80}
        protocol: tcp
      # HTTPS
      - target: 443
        published: ${HTTPS_PORT:-443}
        protocol: tcp
      # HTTP/3
      - target: 443
        published: ${HTTP3_PORT:-443}
        protocol: udp
    environment:
      CADDY_INGRESS_NETWORKS: dev_public
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - caddy_config:/config
      - caddy_data:/data
    labels:
      caddy: ${DOCKER_HOST_SUFFIX:-local}
      caddy.tls: internal
      caddy.respond: |-
        / "Healthy" 200
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://localhost:2019/config" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  maildev:
    restart: always
    image: maildev/maildev
    networks:
      public:
      private:
    command: bin/maildev --web 80 --smtp 25 --outgoing-host smtp-relay.gmail.com --outgoing-secure --hide-extensions STARTTLS
    labels:
      caddy: maildev.${DOCKER_HOST_SUFFIX:-local}
      caddy.tls: internal
      caddy.reverse_proxy: "{{upstreams}}"
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  memcached:
    restart: always
    image: memcached:1.6-alpine
    networks:
      private:

  watchtower:
    image: v2tec/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - $HOME/.docker/config.json:/config.json
    environment:
      WATCHTOWER_IMAGES: ${WATCHTOWER_IMAGES}
    command: --interval 3600 --cleanup


networks:
  public:
    driver: bridge
  private:
    driver: bridge

volumes:
  caddy_data:
  caddy_config:
